@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f1f1f;
        color: #cccccc;
    }

    hr {
        border-color: #4f4f4f
    }

    a {
        color: #9cdcfe
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}