#appContainer {
	color: black;
	height: 100%;
	display: flex;
}

hr {
	border-style: solid;
	border-color: darkgray;
	margin: 0 10% 0 10%;
}

a {
	color: black;
}

#picContainer {
	background: url("../public/dog.jpg") no-repeat;
	background-size: contain;
	width: 50%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 30%;
}

#sidebarContainer {
	background-color: lightgray;
	height: 100%;
	width: 25%;
	align-content: center;
	text-align: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#mainContent {
	background-color: blue;
	height: 100%;
	width: 75%;
}

#root {
	height: 100%;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
