#appContainer {
	color: black;
	height: 100%;
	display: flex;
}

hr {
	border-style: solid;
	border-color: darkgray;
	margin: 0 10% 0 10%;
}

a {
	color: black;
}

#voteDylan {
	font-size: 60px;
	text-align: center;
	width: 100%;
	-webkit-transform: rotate(-30deg);
}

#picContainer {
	background: url("../public/calvin.png") no-repeat;
	background-size: contain;
	width: 50%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 30%;
}

#sidebarContainer {
	background-color: rgb(234,106,69);
	height: 100%;
	width: 25%;
	align-content: center;
	text-align: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#mainContent {
	background-color:rgb(86,186,226);
	height: 100%;
	width: 75%;
	align-items: center;

	display: flex;
}

#root {
	height: 100%;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
